body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Alegreya Sans', sans-serif;
}

code {
  font-family: 'Alegreya Sans', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}